img {
  width: 5rem;
  height: 5rem;
  margin-top: -1rem;
}

.wrapper-header  {
  height: 50%;
  width: 101%;
  padding: 30px;
  background: #fd7e14;
  color: #fff;
  box-shadow: 0 2px 5px -2px grey;
  }
  .menu-header li  {
  display: flex;
  font-size: 16px;
  margin-left: -24px;
  padding: 1rem;
  margin-top: 25px;
  color: #6c757d;
  }
  .btn {
  position: relative;
  top: 10px;
  background-color: #fff;
  border: 0;
  color: #333;
  }
  @media screen and (min-width: 600px) {
  .wrapper-header {
  height: 15vh;
  }
  .menu-header li {
  list-style: none;
  display: inline;
  position: relative;
  margin: 10px;
  top: 30px;
  font-size: 18px;
  }

}

