<div class="container-fluid">
<div class="wrapper">
  <div class="topicos">
   <!---- <div class="container">-->
      <div class="row">
        <div class="col-3">
          <ul class="topicos-footer">
            <h6>Serviços</h6>
              <li>para você</li>
              <li>para empresas</li>
              <li>para poder público</li>
              <li>pacotes e tarifas</li>
          </ul>
        </div>

        <div class=" col-md-3">
          <ul class="topicos-footer">
            <h6>sobre o Itaú</h6>
            <li>quem somos</li>
            <li>relações com investidores</li>
            <li>carreiras</li>
            <li>imprensa</li>
            <li>sustentabilidade</li>
          </ul>
        </div>

        <div class="col-3">
          <ul class="topicos-footer">
            <h6>ajuda</h6>
            <li>central de ajuda</li>
            <li>canais Itaú</li>
            <li>acessos não correntista</li>
            <li>encontre agências</li>
            <li>acessos não correntista</li>
          </ul>
        </div><!--col-3-->

        <div class="col-3">
          <ul class="topicos-footer">
            <h6 class="acompanhe">acompanhe</h6>
            <div class="row">
              <div class="col">
                <i class="fab fa-instagram"></i>
              </div>
              <div class="col">
                <i class="fab fa-youtube"></i>
              </div>
              <div class="col">
                <i class="fab fa-facebook-square"></i>
              </div>
              <div class="col">
                <i class="fab fa-twitter"></i>
              </div>
            </div>
          </ul>
          <div class="col-12">
            <ul class="topicos-footer">
              <br><br>
              <li>sac</li>
              <li>ouvidoria</li>
              <li>consumidor.gov.br</li>

            </ul>
          </div><!--col-3-->
        </div><!--col-3-->


      </div><!--row-main-->
      <div class="row">
        <div class="col-12 text-center mt-5"><p>© 2020 Itaú Unibanco Holding S.A. CNPJ: 60.872.504/0001-23</p>
        </div>
        <div class="col-12 text-center"><p>Praça Alfredo Egydio de Souza Aranha, 100, Torre Olavo Setubal, Parque Jabaquara - CEP 04344-902 - São Paulo - Brasil</p>
        </div>
        </div>
      </div>

  <!--</div>--->
  </div><!--topicos-->

</div><!--wrapper-->




