h3 {
  color: #6c757d;
}
.box-cadastro {
  margin: 30px;
  padding: 30px;
}
.cadastro {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  outline: none;
  height: 50px;
}
.btn-cadastro {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #ec7000;
  font-weight: bold;
}

.checkbox-inline {
  display: inline-flex;
  flex-direction: row;
  color: #ec7000;
}
.opcoes {
  color: #ec7000;
}
p {
  margin-top: -5px;
  margin-left: 5px;
  padding-left: 0;
}
